/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Lato');
html,
body {
    background: #F5F6F7;
    font-family: 'Lato', Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
}

body {
    margin: 0;
}

.row {
    margin: 15px 0px 15px 0px;
}

// animations 
.animated {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.mat-toolbar {
    z-index: 0 !important;
}

// Formularios
.mat-form-field {
    margin-bottom: 10px;
}

.picker__frame {
    min-height: 580px !important;
}

.picker__frame select {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}