/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Lato');
html,
body {
    background: #F5F6F7;
    font-family: 'Lato', Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
}

body {
    margin: 0;
}