<!--The content below is only a placeholder and can be replaced.-->
<app-main-nav>
    <div style="text-align:center">
        <h1>
            Biiiiiiiiiiiii !
        </h1>
        <img width="300" alt="Angular Logo" src="../assets/img/goldo.jpg">
    </div>
    <h2>Magdia asme la adepa con: </h2>
    <ul>
        <li>
            <h2><a target="_blank" rel="noopener" href="#">Sarsicha</a></h2>
        </li>
        <li>
            <h2><a target="_blank" rel="noopener" href="#">Moltaela</a></h2>
        </li>
        <li>
            <h2><a target="_blank" rel="noopener" href="#">Pejcao</a></h2>
        </li>
    </ul>
</app-main-nav>